<!doctype html>
<title>Monthly Stock Closing Price</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
    <h1>Monthly Stock Closing Price</h1>
    <div class=metanav>
        
          <h4>
              Please choose a stock ticker and the month
          </h4>
          <form id='stocktickerinfo' method='post' action='index'>
              <p>
                  Stock ticker: <input type='text' name='stock_ticker'/>
                  
              </p>
              <p>
                  Month(yyyy.mm):<input type='text' name='month'/>
                  
              </p>
              <p>
                  <input type ='submit' value='Submit'/>
              </p>
          </form>    
    </div>
</div>